.page-enter {
  animation: file-enter .5s;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .page-enter {
    animation: none;
  }
}